.heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 1%;
  color: rgba(8, 31, 50, 1);
  font-family: "DM Serif Display", serif;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(110, 121, 140, 1);
}

.pros-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pros {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(165, 173, 187, 1);
  white-space: nowrap;
}

.texts-wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.order {
  background-color: rgba(46, 204, 113, 1);
  width: 114px;
  height: 44px;
  border-radius: 4px;
  border: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.order:hover {
  background-color: rgb(42, 87, 167);
}

.discount {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  color: rgba(8, 31, 50, 1);
}

.original {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: line-through;
  color: rgba(248, 89, 59, 1);
}

.prices {
  display: flex;
  gap: 15px;
  align-items: center;
}

.price-order {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.svg-container {
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  top: 16px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.image-container img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

@media only screen and (max-width: 380px) {
  .meal-container {
    max-width: 330px;
  }
  .texts-wrap {
    padding: 20px;
  }
  .prices {
    gap: 7px;
  }
}
